name: Main
on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: --D warnings

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Setup Build Dependencies + Environment
      run: sudo apt-get install capnproto
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Format
      run: cargo fmt --check
    - name: Clippy
      run: cargo clippy -- -D warnings
    - name: Install Documentation Dependencies
      run: sudo snap install typst
    - name: Documentation Admin Guide
      run: typst compile docs/admin_guide.typ
    - name: Documentation Dev Guide
      run: typst compile docs/developer_guide.typ
